In [1]:
#task Exploration of data
"""
check the null values and drop them
1. find the measures of central tendency for Item MRP column
2. find the measure of spread and shape for - Item mrp
3. obtain masure of shape for item outlet sales column
4. detect and remove outliers  based on item mrp & item outlet sales columns using zscore
5. detect outlet based on data in outlet_sales column using iqr  
  """

'\ncheck the null values and drop them\n1. find the measures of central tendency for Item MRP column\n2. find the measure of spread and shape for - Item mrp\n3. obtain masure of shape for item outlet sales column\n4. detect and remove outliers  based on item mrp & item outlet sales columns using zscore\n5. detect outlet based on data in outlet_sales column using iqr  \n  '

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_csv('data//bigmartsales.csv')
df.head(2)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [4]:
df.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [5]:
#find the measures of central tendency for Item MRP column
df.Item_MRP.isna().sum()

0

In [6]:
df.Item_MRP.mean()

140.9927819781767

In [7]:
df.Item_MRP.median()

143.0128

In [8]:
df.Item_MRP.mode()

0    172.0422
Name: Item_MRP, dtype: float64

In [9]:
df.Item_MRP.std()

62.27506651219046

In [10]:
df.Item_MRP.var()

3878.183909097746

In [11]:
df.Item_MRP.max()-df.Item_MRP.min()

235.5984

In [12]:
df.Item_MRP.skew()

0.1272022683110526

In [13]:
df.Item_MRP.kurtosis()

-0.8897690936963571

In [14]:
df.Item_Outlet_Sales.skew()

1.1775306028542796

In [15]:
df.Item_Outlet_Sales.kurtosis()

1.6158766814287264

In [20]:
from scipy.stats import zscore
score = zscore(df[['Item_MRP','Item_Outlet_Sales']])

In [21]:
score = np.abs(score)

In [23]:
np.where(score>2)[0]

array([  43,   47,   55,  115,  130,  132,  145,  146,  180,  197,  203,
        211,  240,  243,  273,  275,  276,  281,  302,  304,  333,  337,
        352,  373,  376,  402,  406,  423,  424,  425,  456,  472,  497,
        542,  597,  639,  640,  641,  659,  661,  685,  694,  753,  809,
        831,  844,  903,  915,  935,  981,  991,  997, 1009, 1012, 1016,
       1040, 1043, 1044, 1059, 1067, 1084, 1092, 1113, 1127, 1138, 1171,
       1206, 1254, 1260, 1341, 1348, 1363, 1370, 1379, 1393, 1409, 1437,
       1450, 1455, 1458, 1467, 1506, 1508, 1564, 1565, 1601, 1611, 1627,
       1650, 1658, 1667, 1669, 1700, 1705, 1709, 1710, 1749, 1750, 1751,
       1821, 1832, 1835, 1848, 1859, 1879, 1886, 1903, 1925, 1975, 1987,
       1996, 1998, 2019, 2040, 2084, 2103, 2107, 2109, 2216, 2238, 2282,
       2293, 2303, 2437, 2468, 2516, 2523, 2528, 2529, 2535, 2549, 2589,
       2599, 2615, 2643, 2648, 2680, 2687, 2723, 2776, 2803, 2830, 2838,
       2841, 2849, 2861, 2864, 2887, 2891, 2922, 2932, 3009, 3027, 3033,
       3073, 3075, 3083, 3087, 3093, 3098, 3128, 3154, 3158, 3208, 3213,
       3234, 3237, 3245, 3248, 3255, 3266, 3277, 3286, 3313, 3321, 3400,
       3404, 3407, 3416, 3494, 3498, 3561, 3583, 3584, 3590, 3636, 3649,
       3667, 3670, 3709, 3714, 3720, 3757, 3814, 3848, 3863, 3866, 3869,
       3893, 3894, 3903, 3979, 3999, 4050, 4060, 4081, 4094, 4150, 4155,
       4159, 4195, 4236, 4289, 4305, 4328, 4336, 4338, 4346, 4349, 4378,
       4381, 4410, 4468, 4481, 4511, 4538, 4545, 4568, 4598, 4676, 4681,
       4683, 4699, 4730, 4772, 4775, 4802, 4824, 4841, 4877, 4884, 4888,
       4891, 4899, 4913, 4915, 4933, 4961, 4962, 4991, 5042, 5065, 5144,
       5177, 5185, 5223, 5225, 5236, 5253, 5254, 5262, 5281, 5292, 5315,
       5322, 5325, 5351, 5383, 5390, 5413, 5416, 5444, 5463, 5474, 5494,
       5500, 5550, 5558, 5558, 5577, 5593, 5619, 5629, 5642, 5677, 5752,
       5761, 5775, 5799, 5800, 5812, 5816, 5866, 5884, 5905, 5919, 5920,
       5969, 5977, 6000, 6050, 6051, 6057, 6076, 6088, 6092, 6134, 6149,
       6169, 6189, 6287, 6334, 6409, 6410, 6420, 6454, 6484, 6506, 6513,
       6537, 6540, 6541, 6560, 6562, 6568, 6569, 6599, 6606, 6688, 6696,
       6697, 6722, 6745, 6761, 6765, 6789, 6796, 6818, 6821, 6868, 6884,
       6886, 6906, 6931, 6932, 6957, 6993, 7014, 7016, 7025, 7060, 7070,
       7076, 7085, 7118, 7135, 7144, 7149, 7153, 7164, 7188, 7191, 7213,
       7236, 7256, 7302, 7339, 7343, 7408, 7435, 7459, 7539, 7543, 7560,
       7562, 7578, 7592, 7595, 7609, 7620, 7651, 7690, 7732, 7737, 7752,
       7788, 7796, 7816, 7826, 7856, 7864, 7891, 7926, 7930, 7940, 7956,
       7961, 7967, 7981, 7993, 8022, 8036, 8039, 8087, 8098, 8113, 8127,
       8201, 8208, 8245, 8301, 8312, 8329, 8350, 8375, 8395, 8447, 8485,
       8510], dtype=int64)

In [25]:
df.drop(index=np.where(score >3)[0])

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700