In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('data//sales_train.csv',parse_dates=True,index_col='date')
df

            date_block_num  shop_id  item_id  item_price  item_cnt_day
date
02.01.2013               0       59    22154      999.00             1
03.01.2013               0       25     2552      899.00             1
05.01.2013               0       25     2552      899.00            -1
06.01.2013               0       25     2554     1709.05             1
15.01.2013               0       25     2555     1099.00             1
...                    ...      ...      ...         ...           ...
07.11.2013              10       37    18474      199.00             1
18.11.2013              10       37    18474      199.00             1
24.11.2013              10       37    18484      199.00             1
11.11.2013              10       37    19751       99.00             1
26.11.2013              10       37    18498      199.00             1

[1043246 rows x 5 columns]

In [6]:
df.describe()

       date_block_num       shop_id       item_id    item_price  item_cnt_day
count    1.043246e+06  1.043246e+06  1.043246e+06  1.043246e+06  1.043246e+06
mean     4.472810e+00  3.245368e+01  1.024260e+04  6.823654e+02  1.220174e+00
std      2.967065e+00  1.625856e+01  6.305360e+03  1.124829e+03  1.600203e+00
min      0.000000e+00  0.000000e+00  1.200000e+01 -1.000000e+00 -6.000000e+00
25%      2.000000e+00  2.200000e+01  4.548000e+03  1.990000e+02  1.000000e+00
50%      4.000000e+00  3.000000e+01  9.691000e+03  3.990000e+02  1.000000e+00
75%      7.000000e+00  4.700000e+01  1.561875e+04  6.993000e+02  1.000000e+00
max      1.000000e+01  5.900000e+01  2.216800e+04  5.920000e+04  2.880000e+02

In [7]:
# to get the measure of spread range 
np.ptp(df.item_price)

59201.0

In [8]:
# IQr
from scipy.stats import iqr
iqr(df.item_price)

500.29999999999995

In [9]:
#kurtosis
from scipy.stats import kurtosis
kurtosis(df.item_price)

89.66216201619402

In [11]:
kurtosis(df.item_price,fisher=False)

92.66216201619402

In [12]:
#skewness 
from scipy.stats import skew
skew(df.item_price)

7.754518597379134

In [13]:
#percentile
np.percentile(df.item_price,75)

699.3

In [14]:
from scipy.stats import zscore
zscore(df.item_price)

date
02.01.2013    0.281496
03.01.2013    0.192593
05.01.2013    0.192593
06.01.2013    0.912748
15.01.2013    0.370398
                ...
07.11.2013   -0.429724
18.11.2013   -0.429724
24.11.2013   -0.429724
11.11.2013   -0.518626
26.11.2013   -0.429724
Name: item_price, Length: 1043246, dtype: float64

In [17]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit_transform(df['item_price'].values.reshape(-1,1))

array([[ 0.28149591],
       [ 0.19259347],
       [ 0.19259347],
       ...,
       [-0.42972364],
       [-0.51862608],
       [-0.42972364]])